global
    user haproxy
    group haproxy

defaults
    mode http
    log global
    retries 2
    timeout connect 3000ms
    timeout server 5000ms
    timeout client 5000ms

frontend kubernetes
  bind {{ shared_ip }}:{{ kube_api.secure_port }}
  option tcplog
  mode tcp
  default_backend kubernetes-master-nodes

backend kubernetes-master-nodes
  mode tcp
  balance roundrobin
  option tcp-check
{% for host in groups['masters'] %}
  server  {{ loop.index }} {{ host }} {{ host }}:{{ kube_api.secure_port }}  check  fall 3 rise 2
{% if not loop.last -%}{%- endif -%}
{% endfor %}

