apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: 1.17.3
apiServer:
  certSANs:
  - "10.10.20.60"
controlPlaneEndpoint: "10.10.20.60:6443"
etcd:
    external:
        endpoints:
        {% set pk = groups['master'] %}
        {% for host in pk %}
        
        - {{ etcd_peer_url_scheme }}:{{ host }}:{{ etcd.client_port }} 
        {% if not loop.last -%}{%- endif -%}
        {% endfor %}

        caFile: /etc/etcd/ssl/ca.pem
        certFile: /etc/etcd/ssl/etcd.pem
        keyFile: /etc/etcd/ssl/etcd-key.pem
networking:
  podSubnet: 10.244.0.0/16


